<%= turbo_frame_tag "location_results" do %>
  <div class="location-results">
    <% if @results.any? %>
      <ul class="location-list">
        <% @results.each do |result| %>
          <li class="location-item">
            <%= link_to weather_forecast_path(
              name: result[:name],
              latitude: result[:latitude],
              longitude: result[:longitude]
            ), data: { turbo_frame: "_top" } do %>
              <div class="location-details">
                <h3><%= result[:name] %></h3>
                <p><%= [result[:admin1], result[:country]].compact.join(", ") %></p>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if @cached %>
        <div class="cached-notice">
          <small>Results from cache</small>
        </div>
      <% end %>
    <% else %>
      <div class="no-results">
        <p>No locations found</p>
      </div>
    <% end %>
  </div>
<% end %>