<%= turbo_frame_tag "results_frame" do %>
  <span class="block mb-2 text-sm font-medium text-purple-700">Select Location</span>
  <% if @results.any? %>
    <ul class="mt-0 pt-0">
      <% @results.each do |result| %>
        <li>
          <%= result_link(result) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <i class="block text-base font-medium text-red-600">
      No results found. Please expand your search.
    </i>
  <% end %>
  <%= render partial: "weather/new_location_link" %>
  <%= render partial: "weather/cached_data_footer" %>
<% end %>